footer.container.py-5   
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajes") Viajes
                a.nav-link(href="/testimoniales") Testimoniales 

        .col
            p.copyright.text-center.text-md-right
                Todos los Derechos Reservados 
                span= actualYear 
 
    .row.justify-content-center.mt-5 
        .col-md-6
            p.copyright.text-center.text-md-center
                span(class="span1") Creado por: Joao Cabral de Matos Carvalho



//- footer.container.py-5
//-         .row
//-             .col
//-                 p.copyright.text-center.text-md-center
//-                     span(class="span1") Creado por: Joao Cabral de Matos Carvalho
                